// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Misc Styles
.card {
    margin: 10px;
    padding: 5px;
    background-color: #CCC;
}

.newCard {
    background-color: #FFF;
}